# venv / python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.ipynb_checkpoints/
.DS_Store

# Airflow local state
airflow/airflow.db
airflow/airflow.cfg
airflow/logs/
airflow/standalone_admin.log
.airflow/
airflow_home/

# data & analytics (keep processed if you like)
data/
data/interim/
data/tmp/
analytics/*.duckdb-wal
analytics/*.duckdb.tmp

# models
models/*.joblib
models/metadata_*.json

# streamlit cache
.streamlit/
-------------------
node_modules/
